* {
  font-family: Roboto, sans-serif;
}

header {
  position: relative;
}

nav {
  height: 51px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}
.menu .menu_item {
  border-right: 2px dotted white;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
}

.subheader_call {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 23px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  line-height: 12px;
}

.subheader_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  width: 178px;
  height: 52px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-align: center;
}

.promo {
  padding: 150px 0 135px 0;
  min-height: 799px;
  background: url("../img/bg/main_bg.png") center center/cover no-repeat;
}
.promo .promo_header {
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.promo .promo_subheader {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo .promo_descr {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 23px;
}
.promo .promo_btn {
  display: block;
  width: 265px;
  margin: 118px auto 0 auto;
  height: 69px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin-top: 44px;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}
.reasons_block .reasons_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  margin-top: 0;
  background-color: #1eacc7;
  width: 113px;
  height: 113px;
  border-radius: 100%;
}
.reasons_block .reasons_descr {
  width: 343px;
}
.reasons_block .reasons_descr .reasons_header {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
}
.reasons_block .reasons_descr .reasons_text {
  font-size: 15px;
  font-weight: 300;
  color: #202020;
}